/* src/styles/review/PhotoUpload.module.css */
.container {
  background-color: var(--white);
  padding: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 8.75vh 0 1.5vh;
  position: relative;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  margin-left: -0.5rem;
  z-index: 1;
}

.progressBar {
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-gray20);
  border-radius: 2px;
  margin: 2.5rem 0 1rem;
}

.progressFill {
  width: 75%;
  height: 0.2rem;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.header h1 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 160%;
  letter-spacing: -0.0375rem;
  color: var(--black);
}

.subtitle {
  font-size: 16px;
  color: var(--color-gray60);
  padding-left: 0.31rem;
  margin-bottom: 0.5rem;
}

.subtitle span {
  color: var(--color-gray40);
}

.scrollContainer {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.photoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.38rem;
  margin-bottom: 0.25rem;
}

.photoItem {
  position: relative;
  aspect-ratio: 1;
  border-radius: 8px;
  overflow: hidden;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 4px var(--color-gray20);
  border-radius: 16px;
}

.removeButton {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24x;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.removeButton img {
  position: absolute;
  margin: 0.5rem 1rem 0.25rem 0;
  cursor: pointer;
}

.addPhotoBox {
  aspect-ratio: 1;
  border: 1.5px solid var(--color-gray20);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--white);
}

.photoCount {
  font-size: 0.75rem;
  line-height: 150%;
  letter-spacing: -0.03125rem;
  color: var(--color-gray40);
  text-align: left;
  padding-left: 0.25rem;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 2.75rem;
  display: flex;
  gap: 0.38rem;
  max-width: 393px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: var(--white);
}

.prevButton {
  flex: 1;
  height: 3.375rem;
  background-color: var(--color-gray20);
  border: none;
  border-radius: 16px;
  font-size: 1rem;
  color: var(--color-gray60);
  cursor: pointer;
}

.nextButton {
  flex: 1;
  height: 3.375rem;
  background-color: var(--color-gray40);
  border: none;
  border-radius: 16px;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
}

.nextButton:disabled {
  cursor: not-allowed;
}

.nextButton.enabled {
  background-color: var(--primary-color);
}
