/* src/styles/review/PriceInput.module.css */
.container {
  background-color: var(--white);
  padding: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 8.75vh 0 1.5vh;
  position: relative;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  margin-left: -0.5rem;
  z-index: 1;
}

.progressBar {
  width: 100%;
  height: 0.2rem;
  background-color: var(--color-gray20);
  border-radius: 2px;
  margin: 2.5rem 0 1rem;
}

.progressFill {
  width: 50%;
  height: 0.2rem;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.header h1 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 160%;
  letter-spacing: -0.0375rem;
  color: var(--black);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  padding-left: 4px;
  font-size: 14px;
  color: var(--color-gray60);
}

.inputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-gray20);
  border-radius: 16px;
  overflow: hidden;
}

.input {
  flex: 1;
  padding: 1.125rem 1.25rem;
  border: none;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.0375rem;
  text-align: left;
  outline: none;
}

.unit {
  padding-right: 1.25rem;
  color: var(--color-gray40);
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.0375rem;
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 2.75rem;
  display: flex;
  gap: 0.38rem;
  max-width: 393px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: var(--white);
}

.prevButton {
  flex: 1;
  height: 3.375rem;
  background-color: var(--color-gray20);
  border: none;
  border-radius: 16px;
  font-size: 1rem;
  color: var(--color-gray60);
  cursor: pointer;
}

.nextButton {
  flex: 1;
  height: 3.375rem;
  background-color: var(--color-gray40);
  border: none;
  border-radius: 16px;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
}

.nextButton.enabled {
  background-color: var(--primary-color);
}

.nextButton:disabled {
  cursor: not-allowed;
}
