.content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 280px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background-color: var(--color-gray10);
    margin-top: 64px;
    margin-bottom: 20px;
}

.swipeWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out; /* 부드럽게 이동 */
}

.image {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgCount {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin: 0;
    padding: 5px 10px;
    background-color: rgba(9, 10, 10,0.4);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);
    backdrop-filter: blur(10px);

    border-radius: 14px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 16px;
    margin-bottom: 10px;
}

.imgCount .count {
    font-family: "Spoqa Han Sans Neo";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 22px;
    color: var(--white);
}


/* Dot 영역 */
.dots {
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dotsContainer {
    display: flex;
    overflow: hidden;
    width: auto; /* 너비를 자동으로 조정 */
}

.dotsInner {
    display: flex;
    transition: transform 0.3s ease;
    width: fit-content; /* Dot 전체를 감싸도록 너비 설정 */
}
  
.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 3.5px;
    transform-origin: center;
}

.active {
    background-color: var(--white);
}