.content {
  margin: 20px 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.buildingImg {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  background-color: var(--black);
}

.infoAndLike {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 8px;
}

.buildingInfo {
  font-family: "Spoqa Han Sans Neo";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.6px;
  line-height: 150%;
  color: var(--color-gray80);
  padding: 0;
  margin: 0;
}

.buildingContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin: 4px 0;
}

.buildingPrice {
  display: flex;
  box-sizing: border-box;
  padding: 3px 6px;
  justify-content: center;
  align-items: center;
  color: var(--block-blue);
  border-radius: 4px;
  background: #eef3ff;
  font-family: "Spoqa Han Sans Neo";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 21px */
  letter-spacing: -0.6px;
}

.buildingPrice.dormitory {
  background: #fef7f0;
  color: var(--block-yellow);
}

.buildingRating {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  gap: 4px;
}

.address {
  color: var(--color-gray80);

  /* body/Body 2 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.6px;
  margin-bottom: 4px;
}

.reviewCount {
  color: var(--color-gray40);

  /* body/Body 2 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.6px;
}
