.content {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding: 0 16px;
    padding-bottom: 40px;
}

.title {
    font-family: "Spoqa Han Sans Neo";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 150%;
    color: var(--black);
    margin-bottom: 20px;
}

.infoWrap {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.subTitle {
    width: 65px;
    display: inline-block;
    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 150%;
    color: var(--color-gray80);
}
.infoContent {
    width: fit-content;
    padding:0 !important;
    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.6px;
    line-height: 150%;
    color: var(--color-gray60);
}

.content hr {
    margin: 20px 0;
    border: 1px solid var(--color-gray10);
}

.map {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    background-color: var(--color-gray20);
    margin: 20px 0;
}