.content {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    padding: 0 16px;
}

.title {
    font-family: "Spoqa Han Sans Neo";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 150%;
    color: var(--black);
    margin-bottom: 20px;
}

.infoWrap {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items:center;
}
.subTitle {
    width: 65px;
    display: inline-block;
    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 150%;
    color: var(--color-gray80);
}
.infoContent {
    width: fit-content;
    padding:0 !important;
    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.6px;
    line-height: 150%;
    color: var(--color-gray60);
}

.content hr {
    margin: 20px 0;
    border: 1px solid var(--color-gray10);
}

.tagWrap {
    display: flex;
    flex-direction: column;
}

.tagWrap p {
    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-style: 500;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.6px;
}

.tagContainer {
    display: flex;
    flex-direction: row;
    gap:4px;
    row-gap: 6px;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    height: 24px;
    padding: 2px 4px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 4px;
    background: var(--block-unactive-btn);
}
  
.tagText {
    color: var(--color-gray80);
    font-family: "Spoqa Han Sans Neo";
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 150%; /* 21px */
    letter-spacing: -0.6px;
    margin: 0;
}