/* 전역 css 파일 : 폰트, 색상, 리셋코드 작성 */
.content {
    position: relative;
    max-width: 393px;
    width: 100%;
    height: 100vh;
    background-color: var(--block-background);
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

body,
html, div {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

:root {
    /* 색상 */
    --primary-color : #F46940;
    --block-blue : #4379F4;
    --block-yellow : #FEA509;
    --block-salmon : #FFF5E9;
    --block-background : #F2F4F7;
    --block-popup : #e5e8eb;
    --black : #090A0A;
    --white : #FFFFFF;

    --color-gray80 : #3F3F3F;
    --color-gray60 : #676767;
    --color-gray40 : #B5B5B5;
    --color-gray20 : #E8E8E8;
    --color-gray10 : #EEEEEE;

}