/* 전역 css 파일 : 폰트, 색상, 리셋코드 작성 */
@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('../assets/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('../assets/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  src: url('../assets/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

.content {
  position: relative;
  max-width: 393px;
  width: 100%;
  height: 100vh;
  background-color: var(--block-background);
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

:root {
    /* 색상 */
    --primary-color : #F46940;
    --block-blue : #4379F4;
    --block-yellow : #FEA509;
    --block-salmon : #FFF5E9;
    --block-background : #F2F4F7;
    --block-popup : #e5e8eb;
    --block-selected : #FFF7F4;
    --black : #090A0A;
    --white : #FFFFFF;

    --color-gray80 : #3F3F3F;
    --color-gray60 : #676767;
    --color-gray40 : #B5B5B5;
    --color-gray20 : #E8E8E8;
    --color-gray10 : #EEEEEE;

}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Spoqa Han Sans Neo', -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
}