.wrap {
  display: flex;
  flex-direction: row;
  gap: 14px;
  border-bottom: 1px solid var(--color-gray10);
  padding: 0;
}

.tab {
    color: var(--color-gray40);
    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 21px */
    letter-spacing: -0.6px;
    margin: 0px;
    background-color: transparent;
    border: 0px;
}

.active {
  color: var(--black);
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: -1px;
}