.footerContainer {
  max-width: 393px;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-gray20);
  background-color: var(--white);
  position: fixed;
  bottom:0;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 999;
  margin:auto;
}

.leftBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.iconWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.count {
  color: var(--color-gray40);
  font-family: "Spoqa Han Sans Neo";
  font-size: 14px;
  font-weight: 400;
  line-height: 1; /* 21px */
  letter-spacing: -0.5px;
}

.moreBtn {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
