.content {
    position: relative;
    max-width: 393px;
    width: 100%;
    height: 100dvh;
    background-color: var(--white);
    margin: auto;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    -ms-overflow-style: none; /* IE, Edge 스크롤바 숨기기 */
    scrollbar-width: none; /* Firefox 스크롤바 숨기기 */
}

.content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera 스크롤바 숨기기 */
}

.container hr {
    width: 100%;
    border: none;
    height: 8px;
    background-color: #f5f5f5;
    margin: 34px 0;
}

.topButtonWrapper {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 10; /* 다른 요소보다 위로 */
}