.content {
    position: relative;
    max-width: 393px;
    width: 100%;
    height: 100dvh;
    background-color: var(--white);
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 89.5vh; */
    height: calc(100% - 89px); /* 헤더와 필터바의 높이를 뺀 나머지 */
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    -ms-overflow-style: none; /* IE, Edge 스크롤바 숨기기 */
    scrollbar-width: none; /* Firefox 스크롤바 숨기기 */
}

.container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera 스크롤바 숨기기 */
}

.container hr {
    width: 100%;
    border: none;
    height: 8px;
    background-color: #f5f5f5;
    margin: 34px 0;
}