.container {
  position: relative;
  max-width: 393px;
  width: 100%;
  height: 89.5vh;
  gap: 15px;
  background-color: var(--block-background);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE, Edge 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox 스크롤바 숨기기 */
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera 스크롤바 숨기기 */
}

.line {
  width: 100%;
  height: 20px;
  border-top: 1.5px solid #eee;
}

.header {
  width: 100%;
  min-height: 60px;
}

.bookmarkContainer {
  display: flex;
  width: 360px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 16px;
  background: var(--white);
  box-sizing: border-box;
  margin-bottom: 15px;
}

.filterContainer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-bottom: -10px;
}

.filter {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filterText {
  color: var(--color-gray60);

  /* body/Body 2 */
  font-family: "Spoqa Han Sans Neo";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.6px;
  margin: 0;
}

.filterImg {
  width: 20px;
  height: 20px;
}
