.container {
    background-color: var(--white);
    padding: 0 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

.header {
    display: flex;
    flex-direction: column;
    padding: 8.75vh 0 1.5vh;
    position: relative;
  }
  
.closeButton {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    margin-left: -0.5rem;
    z-index: 1;
  }
  
.progressBar {
    width: 100%;
    height: 0.2rem;
    background-color: var(--color-gray20);
    border-radius: 2px;
    margin: 2.5rem 0 1rem;
  }

.header h1 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 160%;
    letter-spacing: -0.0375rem;
    color: var(--black);
  }

.textareaContainer {
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

.contentTextarea {
    border: none;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: -0.0375rem;
    resize: none;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    transition: height 0.1s ease;
    background-color: transparent;
    overflow-x: hidden;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
    word-wrap: break-word;
}
  
.contentTextarea:focus {
    outline: none;
}
  
.contentTextarea::placeholder {
    color: var(--color-gray40);
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: -0.0375rem;
}

.charCount {
    position: sticky;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 12px;
    color: var(--color-gray40);
    padding: 8px 0;
    background-color: var(--white);
    z-index: 5;
    width: 100%;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 12px;
    max-width: 393px;
    margin: 0 auto;
    padding: 12px 16px 44px;
    background-color: var(--white);
  }

.nextButton {
  flex: 1;
  height: 56px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.nextButton {
    background-color: var(--color-gray40);
    color: var(--white);
    border: none;
  }

.nextButton:disabled {
    cursor: not-allowed;
}
  
.nextButton.enabled {
    background-color: var(--primary-color);
}


.wrap {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 120px;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap:34px;
}

.textWrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: center;
}
.textWrap .title {
    font-family: "Spoqa Han Sans Neo";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 160%;
    color: var(--black);
}
.textWrap .subInfo {
    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.6px;
    line-height: 150%;
    color: var(--color-gray60);
}

.btnWrap {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btnWrap .reportBtn {
    width: 49%;
    height: 54px;

    border: none;
    border-radius: 14px;
    background-color: var(--primary-color);

    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 22px;
    color: var(--white);
}

.prevBtn {
    width: 49%;
    height: 54px;

    border: none;
    border-radius: 14px;
    background-color: var(--color-gray20);

    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 22px;
    color: var(--color-gray60);
}
.confirmBtn {
    width: 100%;
    height: 54px;

    border: none;
    border-radius: 14px;
    background-color: var(--primary-color);

    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 22px;
    color: var(--white);
}

.bitTitle {
    font-family: "Spoqa Han Sans Neo";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 160%;
    color: var(--black);
}