.content {
    position: relative;
    max-width: 393px;
    width: 100%;
    height: 100dvh;
    background-color: var(--white);
    margin-left: auto;
    margin-right: auto;
  }

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    -ms-overflow-style: none; /* IE, Edge 스크롤바 숨기기 */
    scrollbar-width: none; /* Firefox 스크롤바 숨기기 */
}

.container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera 스크롤바 숨기기 */
}

.content .divider {
    width: 100%;
    height: 8px;
    background-color: var(--block-unactive-btn);
    border: none;
    margin: 30px 0;
}

.fixedWrap {
    width: 393px;
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: end;
}