.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar_div {
    position: fixed;
    left: 50%; bottom: 0;
    transform: translateX(-50%);
    background-color: var(--white);
    max-width: 393px;
    width: 100%;
    height: 10.5vh;
    z-index: 999;
    border-top: 1px solid var(--color-gray20);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding : 0 8px;
    padding-bottom: 8px;
}

.navbar_nav {
    width: 62px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar_tab {
    width: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_icon {
    width: 30px;
    height: 30px;
}

.navbar_title {
    display: inline;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
    margin:0;
    letter-spacing: -0.6px;
    text-decoration: none;
    margin-top: 3px;
}

.navbar_text {
    display: inline;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-gray40);
    margin:0;
    letter-spacing: -0.6px;
    text-decoration: none;
    margin-top: 3px;
}