.content {
    position: relative;
    max-width: 393px;
    width: 100%;
    /* height: 100dvh; */
    background-color: var(--white);
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    -ms-overflow-style: none; /* IE, Edge 스크롤바 숨기기 */
    scrollbar-width: none; /* Firefox 스크롤바 숨기기 */
}

.content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera 스크롤바 숨기기 */
}

.section {
    margin: 72px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.catAndShare {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.category {
    width: fit-content;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: var(--block-selected);
    color: var(--primary-color);
    font-family: "Spoqa Han Sans Neo";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5; /* 21px */
    letter-spacing: -0.6px;
    margin-left: 8px;
}

.shareBtn {
    height: 30px;
    background-color: var(--white);
    border-radius: 4px;
    border: 1px solid var(--color-gray20);
    padding: 5px 10px;

    color: var(--color-gray80);
    font-family: "Spoqa Han Sans Neo";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5; /* 21px */
    letter-spacing: -0.6px;
    margin-left: 8px;
}

.titleWrap {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
}

.title {
    color: var(--black);
    font-family: "Spoqa Han Sans Neo";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.6; /* 21px */
    letter-spacing: -0.6px;
}

.date {
    color: var(--color-gray40);
    font-family: "Spoqa Han Sans Neo";
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5; /* 21px */
    letter-spacing: -0.5px;
}

.contentWrap {
    padding: 8px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contentText {
    color: var(--color-gray80);
    font-family: "Spoqa Han Sans Neo";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5; /* 21px */
    letter-spacing: -0.6px;
}

.contentImg {
    width: 344px;
    height: auto;
}

.heartBox {
    border-radius: 16px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    padding: 10px 18px;
    width: fit-content;
    gap: 16px;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer;
}

.heartBox p {
    color: var(--white);
    font-family: "Spoqa Han Sans Neo";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5; /* 21px */
    letter-spacing: -0.6px;
}

.heartBox img {
    width: 16px;
}

/* modal */
.wrap {
    max-width: 393px;
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.sheet_header {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin-bottom: 10px;
}

.header_divider {
    width: 50px;
    height: 5px;
    border-radius: 100px;
    background-color: var(--block-popup);

}

.sheet_title_wrap {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.sheet_info_wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sheet_title {
    margin: 0;
    padding: 0;
    font-size: 20px;
    letter-spacing: -0.6px;
    line-height: 150%;
    color: var(--color-gray80);
}

.sheetWrap {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap:34px;
}

.sheetText {
    font-family: "Spoqa Han Sans Neo";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 160%;
    color: var(--black);
    text-align: center;
}

.btnWrap {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.confirmBtn {
    width: 100%;
    height: 54px;

    border: none;
    border-radius: 14px;
    background-color: var(--primary-color);

    font-family: "Spoqa Han Sans Neo";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 22px;
    color: var(--white);
}

.likedButton {
    margin: 32px auto;
    width: fit-content;
    height: 42px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    border: 1px solid var(--color-gray10);
    border-radius: 60px;
    background-color: var(--white);

    font-family: "Spoqa Han Sans Neo";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5; /* 21px */
    letter-spacing: -0.6px;
    color: var(--color-gray60);
}

.likedButtonActive {
    border: 1px solid var(--primary-color);
    background-color: var(--block-selected);
    color: var(--primary-color);
}
.heartIcon {
    width: 18px;
}