.content {
  margin: 20px 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.imgWrap{
  position: relative;
  padding: 0;
  margin: 0;
  min-width: 100%; /* 너비를 부모 요소의 100%로 설정 */
  max-width: 100%; /* 너비를 부모 요소의 100%로 제한 */
  min-height: 208px;
  max-height: 208px;
}

.imgNum {
    width: fit-content;
    margin: 0;
    padding: 2px 8px;
    background-color: rgba(9, 10, 10,0.4);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);
    backdrop-filter: blur(10px);

    border-radius: 14px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    margin-bottom: 5px;
}

.imgNum .count {
    font-family: "Spoqa Han Sans Neo";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.5px;
    color: var(--white);
}


.buildingImg {
  min-width: 100%; /* 너비를 부모 요소의 100%로 설정 */
  max-width: 100%; /* 너비를 부모 요소의 100%로 제한 */
  min-height: 208px;
  max-height: 208px;
  border-radius: 8px;
  background-color: var(--color-gray10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.emptyIcon {
  width: 130px;
}

.emptyText {
  color: var(  --color-gray40, #b5b5b5);
  text-align: center;
  /* body/Body 2 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.6px;
}

.infoAndLike {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 8px;
}

.buildingInfo {
  font-family: "Spoqa Han Sans Neo";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.6px;
  line-height: 150%;
  color: var(--color-gray80);
  padding: 0;
  margin: 0;
}

.buildingContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  margin: 4px 0;
}

.buildingPrice {
  display: flex;
  box-sizing: border-box;
  padding: 3px 6px;
  justify-content: center;
  align-items: center;
  color: var(--block-blue);
  border-radius: 4px;
  background: #eef3ff;
  font-family: "Spoqa Han Sans Neo";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 21px */
  letter-spacing: -0.6px;
}

.buildingPrice.dormitory {
  background: #fef7f0;
  color: var(--block-yellow);
}

.buildingPrice.agency {
  background: #fff7f4;
  color: var(--primary-color);
}

.buildingRating {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}

.address {
  color: var(--color-gray80);

  /* body/Body 2 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.6px;
  margin-bottom: 4px;
}

.reviewCount {
  color: var(--color-gray40);

  /* body/Body 2 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: -0.6px;
}
