.content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 9rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sheet {
    box-sizing: border-box;
    position: fixed; /* 고정 위치 */
    bottom: 0;
    width: 100%;
    height: 9rem;
    background-color: var(--white);
    z-index: 55; /* 가장 앞에 보이도록 설정 */

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 24px 24px 0 0;
}

.sheet_header {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin: 10px 0;
}
.header_divider {
    width: 50px;
    height: 5px;
    border-radius: 100px;
    background-color: var(--block-popup);

}
.title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: -0.6px;
    line-height: 22px;
    color: var(--color-gray80);
    font-weight: 400;
}