.content {
    margin: 8px 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.initial_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial_btn {
    width: 30px;
    height: 30px;

    border: none;
    border-radius: 6px;

    background-color: var(--block-unactive-btn);
    color: var(--color-gray20);
}

.selected_initial_btn {
    width: 30px;
    height: 30px;

    border: none;
    border-radius: 6px;

    background-color: var(--block-selected);
    color: var(--primary-color);

}

.unselected_initial_btn {
    width: 30px;
    height: 30px;

    border: none;
    border-radius: 6px;

    background-color: var(--block-unactive-btn);
    color: var(--color-gray60);
}

/* 대학교 css */
.uni_slider {
    position: relative;
    margin-top: 20px;
}
.uni_wrap {
    flex: 1;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.uni_btn {
    width: 160px;
    height: 220px;
    padding: 16px;
    background-color: var(--white);
    border: 1px solid var(--color-gray20);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selected_uni_btn {
    background-color: var(--block-selected);
    border: 1px solid var(--primary-color);
}

.uni_title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: -0.6px;
    line-height: 150%;
    color: var(--black);
}

.uni_campus {
    margin: 0;
    padding: 0;
    font-size: 12px;
    letter-spacing: -0.6px;
    line-height: 150%;
    color: var(--color-gray60);
}
.selected_text {
    color: var(--primary-color);
}

/* 버튼 */
.btn_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
}

.reset_btn {
    width: 49%;
    height: 54px;

    border: 1px solid var(--color-gray40);
    border-radius: 14px;
    background-color: var(--white);

    font-size: 16px;
    letter-spacing: -0.6px;
    line-height: 22px;
    color: var(--color-gray40);
}

.reset_btn_active {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.confirm_btn {
    width: 49%;
    height: 54px;

    border: 1px solid var(--color-gray40);
    border-radius: 14px;
    background-color: var(--color-gray40);

    font-size: 16px;
    letter-spacing: -0.6px;
    line-height: 22px;
    color: var(--white);
}
.confirm_btn_active {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);

}