/* src/styles/auth/AccountAuthPage.module.css */
.header {
  display: flex;
  padding: 4vh 0 2vh;
  background-color: var(--white);
  position: relative;
  background-color: var(--block-background);
  align-items: center;
  justify-content: center;
}

.header h1 {
  flex: 1;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}

.backButton {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  left: 16px;
  z-index: 1;
}

.flippedIcon {
  transform: scaleX(-1);
}

.container {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 1.75vh;
  padding-bottom: 9.5vh; /* Add padding for nav bar */
}

.guide {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--white);
  border-style: none;
  padding: 0.75rem 1rem;
  border-radius: 16px;
}

.guideIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.guide p {
  margin: 0;
  font-size: 0.85rem;
  color: var(--color-gray80);
  line-height: 1.3;
  letter-spacing: -0.0375rem;
  word-break: keep-all;
  flex: 1;
}

.profileButton,
.serviceButton {
  width: 100%;
  display: flex;
  padding: 1.25rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.profileInfo p {
  color: var(--color-gray60);
  text-align: left;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.0375rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile p {
  color: var(--black);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.0375rem;
}

.profile span {
  font-size: 14px;
  color: var(--color-gray60);
}

/* Updated verification status styles */
.status {
  font-size: 0.65rem;
  color: var(--primary-color) !important;
  padding: 0.1875rem 0.375rem;
  border-radius: 0.25rem;
  background-color: #fff7f4;
}

.verified {
  font-size: 0.65rem;
  color: var(--block-blue);
  background-color: #eef3ff;
  padding: 0.1875rem 0.375rem;
  border-radius: 0.25rem;
}

.pending {
  color: var(--primary-color) !important;
  font-size: 0.65rem;
  padding: 0.1875rem 0.375rem;
  border-radius: 0.25rem;
  background: #fff7f4;
}

.serviceButton span {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.0375rem;
  color: var(--black);
}
