/* src/styles/auth/CurrentStudentVerification.module.css */
.header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.backButton {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  position: absolute;
  left: 1rem;
  transform: scaleX(-1);
  z-index: 1;
}

.container {
  display: flex;
  padding: 0rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

.title {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.0375rem;
  margin-bottom: 0.5rem;
}

.description {
  text-align: left;
  color: var(--color-gray60);
  font-size: 0.964rem;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.0375rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputWrapper {
  position: relative;
  input:focus {
    outline: none;
  }
}

.emailInput {
  display: flex;
  width: calc(100vw - 3.5rem);
  height: 4.25rem;
  padding: 1.25rem;
  background-color: var(--white);
  border: none;
  border-radius: 16px;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: -0.0375rem;
  color: var(--black);
  box-sizing: border-box;
}

.emailInput::placeholder {
  color: var(--color-gray40);
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: -0.0375rem;
  padding-left: 0.25rem;
}

.emailInput.inputError {
  padding-left: 3.2rem;
}

.warningIcon {
  position: absolute;
  left: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
  z-index: 1;
}

.errorText {
  position: absolute;
  left: 1rem;
  top: calc(100% + 0.25rem);
  font-size: 0.8rem;
  color: var(--primary-color);
  margin: 0;
}

.character {
  width: 14.37875rem;
  height: 21.11169rem;
  margin: 3.75vh 0;
}

.submitButton {
  width: calc(100vw - 3.5rem);
  height: 3.375rem;
  position: fixed;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  line-height: 3.375rem;
  letter-spacing: -0.0375rem;
  border: none;
  border-radius: 13px;
  align-self: center;
  cursor: pointer;
  bottom: 2.75rem;
}

.submitButton.disabled {
  background-color: var(--color-gray40);
  cursor: not-allowed;
}

.completeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5rem 1rem;
  text-align: center;
}

.checkIcon {
  display: flex;
  width: 4.375rem;
  height: 4.375rem;
  padding: 0.625rem;
  margin-bottom: 1.2rem;
}

.completeContainer h2 {
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: -0.0375rem;
  color: var(--black);
  margin-bottom: 0.75rem;
}

.completeContainer p {
  color: var(--color-gray60);
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.0375rem;
}

.confirmButton {
  width: calc(100vw - 3.5rem);
  height: 3.375rem;
  position: fixed;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  line-height: 3.375rem;
  letter-spacing: -0.0375rem;
  border: none;
  border-radius: 13px;
  align-self: center;
  cursor: pointer;
  bottom: 2.75rem;
}
