/* src/styles/auth/CurrentStudentVerification.module.css */
.header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: var(--white);
}

.backButton {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.backButton img {
  width: 24px;
  height: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
}

.container h1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 16px;
}

.description {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-gray60);
  margin-bottom: 32px;
  white-space: pre-line;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
  max-width: 330px;
  margin-bottom: 24px;
  right: 16px;
  input:focus {
    outline: none;
  }
}

.warningIcon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.emailInput {
  width: 100%;
  height: 52px;
  padding: 0 16px;
  background-color: var(--white);
  border: none;
  border-radius: 16px;
  font-size: 16px;
  color: var(--black);
}

.emailInput.inputError {
  box-shadow: 0px 0px 0px 1px var(--primary-color);
  text-indent: 28px; /* 텍스트만 오른쪽으로 이동 */
  padding: 0 16px;
}

.emailInput::placeholder {
  color: var(--color-gray40);
  font-size: 14px;
}

.errorText {
  position: absolute;
  left: 16px;
  top: calc(100% + 4px);
  font-size: 12px;
  color: var(--primary-color);
  margin: 0;
}

.character {
  width: 180px;
  height: 158px;
  margin: 24px 0;
}

.submitButton {
  width: 100%;
  max-width: 360px;
  height: 52px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  margin: 0 auto;
}

.submitButton.disabled {
  background-color: var(--color-gray40);
  cursor: not-allowed;
}

.completeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 16px;
  text-align: center;
}

.checkIcon {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}

.completeContainer h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 12px;
}

.completeContainer p {
  font-size: 14px;
  line-height: 20px;
  color: var(--color-gray60);
  margin: 0;
}

.completeContainer p:last-of-type {
  margin-bottom: 32px;
}

.confirmButton {
  width: 100%;
  max-width: 360px;
  height: 52px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  margin: 0 auto;
}
