/* Override styles for LeaveServiceModal2 */
.container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  max-width: 393px;
  height: 30.8rem;
  background-color: var(--white);
  border-radius: 24px 24px 0 0;
  position: relative;
  animation: slideUp 0.3s ease-out;
  padding: 0 1rem;
  box-sizing: border-box;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.confirmButton {
  width: calc(100% - 2rem);
  height: 3.375rem;
  position: absolute;
  background-color: var(--color-gray40);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 3.375rem;
  letter-spacing: -0.0375rem;
  border: none;
  border-radius: 13px;
  align-self: center;
  cursor: pointer;
  bottom: 2.75rem;
  left: 1rem;
}

.confirmButton.active {
  background-color: var(--primary-color);
}

.confirmButton:disabled {
  cursor: not-allowed;
}

.termItem {
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 12px;
}

.termItem:last-child {
  margin-bottom: 0;
}

.termItem span {
  flex: 1;
  text-align: left;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.0375rem;
  color: var(--color-gray80);
}

.checkIcon {
  margin-right: 0.75rem;
}