/* src/styles/auth/MyAccountPage.module.css */
.header {
  display: flex;
  padding: 4vh 0 2vh;
  background-color: var(--white);
  position: relative;
  background-color: var(--block-background);
  align-items: center;
  justify-content: center;
}

.header h1 {
  flex: 1;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;
}

.backButton {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  left: 16px;
  z-index: 1;
}

.flippedIcon {
  transform: scaleX(-1);
}

.container {
  padding: 0 1rem;
}

.verificationSection,
.serviceSection {
  display: flex;
  padding: 0.6rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: none;
  border-radius: 16px;
  margin-bottom: 0.9375rem;
  cursor: pointer;
}

.verificationSection h2,
.serviceSection h2 {
  font-size: 16px;
  font-weight: 500;
  color: var(--black);
  margin: 0;
  cursor: pointer;
}

.verificationButton,
.serviceButton {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.verificationButton img,
.serviceButton img {
  width: 24px;
  height: 24px;
}
