/* src/styles/auth/NewStudentVerification.module.css */
.header {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.backButton {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  position: absolute;
  left: 16px;
  z-index: 1;
}

.flippedIcon {
  transform: scaleX(-1);
}

.container {
  display: flex;
  padding: 0rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

.title {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.0375rem;
  margin-bottom: 0.5rem;
}

.description {
  text-align: left;
  margin-bottom: 2.5rem;
}

.description p {
  color: var(--color-gray60);
  font-size: 0.98rem;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -0.0375rem;
}

.character {
  width: 230px;
  height: 337px;
  margin: 0 auto 5.5vh;
}

.uploadButton {
  width: 22.6rem;
  height: 3.375rem;
  position: fixed;
  display: flexbox;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
  text-align: center;
  line-height: 3.375rem;
  letter-spacing: -0.0375rem;
  border: none;
  border-radius: 16px;
  align-self: center;
  cursor: pointer;
  bottom: 2.75rem;
}

.statusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  margin-top: 5rem;
}

.completeIcon {
  display: flex;
  width: 4.375rem;
  height: 4.375rem;
  padding: 0.625rem;
  margin-bottom: 2.2rem;
}

.statusContainer h2 {
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: -0.0375rem;
  color: var(--black);
  margin-bottom: 0.75rem;
}

.statusContainer p {
  color: var(--color-gray60);
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.0375rem;
}

.buttonGroup {
  position: fixed;
  height: 3.375rem;
  display: flex;
  gap: 0.625rem;
  bottom: 2.75rem;

  position: fixed;
  display: flex;
  gap: 0.625rem;
  bottom: 2.75rem;
  width: calc(100% - 3rem); /* 좌우 패딩 고려한 너비 */
  max-width: 22.6rem;
  left: 50%;
  transform: translateX(-50%);
}

.cancelButton {
  width: 11.1rem;
  font-size: 1rem;
  border-radius: 13px;
  background-color: var(--white);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  text-align: center;
  line-height: 3.375rem;
  letter-spacing: -0.0375rem;
  cursor: pointer;
}

.confirmButton {
  width: 11.1rem;
  font-size: 1rem;
  border-radius: 13px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white);
  cursor: pointer;
}
