/* src/styles/auth/TermsAgreementModal.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30.8rem;
  background-color: white;
  border-radius: 24px 24px 0 0;
  position: relative;
  animation: slideUp 0.3s ease-out;
  padding: 0 1rem;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.handleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.62rem 0;
  margin-bottom: 1.5rem;
}

.modalHandle {
  width: 3.125rem;
  height: 0.3125rem;
  background-color: #e5e8eb;
  border-radius: 2px;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: -0.0375rem;
  margin: 0 0 0.2rem 0.5rem;
}

.description {
  color: var(--color-gray60);
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.0375rem;
  margin: 0 0 1.5rem 0.5rem;
}

.termsList {
  display: flex;
  flex-direction: column;
}

.termItem {
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.termItem:first-child span {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: -0.0375rem;
  color: var(--black);
}

.termItem:not(:first-child) {
  margin-bottom: 1.5rem;
}

.termItem span {
  flex: 1;
  text-align: left;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: -0.0375rem;
  color: var(--color-gray80);
}

.separator {
  width: 21.6rem;
  height: 1.5px;
  background-color: var(--color-gray10);
  margin: 1rem auto;
}

.checkIcon {
  margin-right: 0.75rem;
}

.confirmButton {
  width: calc(100% - 2rem);
  height: 3.375rem;
  position: fixed;
  background-color: var(--color-gray40);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  line-height: 3.375rem;
  letter-spacing: -0.0375rem;
  border: none;
  border-radius: 13px;
  align-self: center;
  cursor: pointer;
  bottom: 2.75rem;
  left: 1rem;
}

.confirmButton.active {
  background-color: var(--primary-color);
}

.confirmButton:disabled {
  cursor: not-allowed;
}
